/*Configuração geral da página*/
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 2px solid #333;
}
body a{
    text-decoration: none;
    color: #fff;
}
/*Configuração do HEADER*/
header{
        max-width: 100%;   
        height: auto;
        padding: 10px;

        color: white;
        background-color: #333;

        display: flex;
        justify-content: space-between;
    }
    /*Configuração dos menus/sub*/
    .dropdown{ 
        margin-top: 0.8rem;
    }
    .dropdown_menu{
        display: flex; /*Alinha os item no eixo X*/
        text-align: center;
        list-style: none;
    }
    .dropdown_menu-item{
        margin: 0 0.9rem;
        padding: 5px;
        border-right: 1px solid oldlace;
    }
    .dropdown a:hover{
        text-decoration: underline;
    }
    /*Submenus*/
    .dropdown_submenu{
        background-color: #333;

        position: absolute;

        list-style-type: none;
        padding: 6px;
        display: none;

        border: 1px solid white;
        border-radius: 10px;
    }
    .dropdown_submenu-item{
        padding: 3px;
    }
    .dropdown_menu-item:hover .dropdown_submenu{
        display: block;
    }

/*Configuração do MAIN*/

main{
    padding: 10px;
    margin: 2rem 4rem;
    font-size: 1rem;
}
.par, .impar{

    border-radius: 10px;
    margin: 0.3rem 0 0.3rem 0;
    
    padding: 10px;
    align-items: center;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.5rem;
}
.par{
    background-color: rgb(61, 60, 58);   
}
.impar{
    background-color: rgb(112, 111, 108);
}

main h1{
    margin-bottom: 4px;
    text-align: center;
}
/*MAIN IMAGENS*/
main div img{
    width: auto;
    height: 10rem;
}
/*Configuração do FOOTER*/

footer{
    max-width: 100%;
    height: auto;

    margin-top: 8px;
    background-color: #333;
    color: #fff;
    
    padding: 10px;
    text-align: center;
}
.footer_inf{
    width: 100%;
    display: flex;
    font-size: 1rem;
}
.footer_inf-item{
    width: 30%;
    padding: 10px;
}
.footer_inf-item p{
    padding: 2px;
}
.footer_direitos{
    font-size: 1.2rem;
    margin-top: 10px;
    border-top: 1px solid #fff;

    padding-top: 9px;
}

@media (max-width: 821px){
            /*Header*/
    header{
        display: block;
        height: 5.5rem;
    }
    .banner{
        float: none;
    }
    .dropdown_menu{
        float: right;
    }

    .dropdown_submenu{
        left: auto;
        right: 7.4rem;
    }

/*------------------------------------------------*/
            /*main*/
    main{
        margin: 0;
    }
    .par{
        display: block;
        text-align: center;
        float: none;
    }
    .impar{
        padding: 0.4rem;
        text-align: center;
        display: block;
    }

/*-----------------------------------------------*/
            /*Footer*/
        .footer_inf{
            display: block;
        }
        .footer_inf-item{
            width: 100%;
            height: auto;
        }
        .footer_inf-item p{
            text-align: left;
        }
}