/* ------------------RAIZ-------------------- */
*{
    padding: 0;
    margin: 0;
    border: none;

    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    /* position: relative; */
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }


/* -------------------GERAL------------------- */
.img-toop img{
    width: 100vw;
}

.img-bootom{
    width: 100vw;
    height: auto;

    position: absolute;
    bottom: -10px;
}
.img-bootom img{
    width: 100vw;
    height: 100%;
}

.buttom{
    padding: .6rem 2rem;

    background-color: var(--purple);
    color: #ffff;

    font-size: 1rem;

    margin-top: 2.5rem;

    border-radius: 10px;
}
.buttom:hover{
    cursor: pointer;
}

h2{
    font-weight: bold;
    font-size: 2.2rem;

    color: var(--purple);

    margin-bottom: 1rem;
}
/* ------------------OUTROS-------------------- */
.ctn-princ{
    width: 90vw;
    
    margin: 0 auto;

    display: flex;
    align-items: center;
}
.left{
    width: 50%;
    
    text-align: center;
}

.left p{
    color: var(--light-grey)
}

.time ul{
    width: 100%;

    display: flex;
    justify-content: center;
}
.time ul li{
    margin: 2rem;

    list-style: none;
    line-height: 3.5rem;
}
.time ul li span{
    font-size: 4rem;
}

.rigth img{
    width: 36rem;
}






/* ------------------formulario-------------------- */

.formulario{
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: hsla(0, 0%, 0%, 0.945);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-close img{
    width: 40px;
    height: 40px;

    background: var(--purple);
    
    position: absolute;
    right: 5rem;
    top: 5rem;
}
.btn-close:hover{
    cursor: pointer;
}

.formulario form{
    width: 50%;

    display: grid;
    grid-template-rows: calc(1fr * 4);
    
    margin-top: 3rem;

    color: var(--text-color);
}

.formulario form input{
    width: 90%;

    margin-bottom: 1rem;
    padding: 5px 10px;

    border-bottom: 1px solid var(--purple);
    border-radius: 10px;
    
    color: var(--purple);
    background-color: transparent;

    font-size: 16px;

    outline: none;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }

.formulario form button{
    width: 160px;

    margin: 2rem auto;
}

.close{
    display: none;
}

